<%- include('../partials/header.ejs')%>

    <h1>Event Add Page</h1>
     <form action="/events/add" method="POST">
        <input type="text" name="name" placeholder="Event Name"> <br/>
        <input type="text" name="artists" placeholder="Artist"> <br/>
        <input type="text" name="date" placeholder="Date"> <br/>
        <input type="text" name="venue" placeholder="Venue"> <br/>
        <input type="text" name="picture" placeholder="Picture"> <br/>
        <button type="submit">Create</button>
    </form>
    <section>
    <h2> List of all Events</h2>
        <% for(let i = 0;i<events.length;i++){%>
        <a href="/events/<%=events[i]._id%>"><%=events[i].name%> </a>
         <section>
          <form action="/users/<%=events[i]._id%>?_method=DELETE" method="post">
              <input type="submit" value="Delete Event"/>
          </form>
            <%}%>
    </section>
<%- include('../partials/footer.ejs')%>