<%- include('../partials/header.ejs')%>

    <h1>Event Index Page</h1>


    <% if(events.length<=0){%>
            <p>there are no events available</p>
    <%}%>

    <% for(let i = 0;i<events.length;i++){%>



        <form action="/users/<%=events[i]._id%>" method="POST">
        <a href="/events/<%=events[i]._id%>"><%=events[i].name%> </a>

        
        <% if (user &&!user.events.filter(e => e.toString() === events[i]._id.toString()).length > 0) { %>
                    <button>Add Event</button>
        <% } %>
                    


        </form>

    <%}%>

    

<%- include('../partials/footer.ejs')%>