<%- include('../partials/header.ejs')%>
<div class="event-container">

    <div class ="events-header"><h1>Browse Festivals</h1></div>
    

    <div class="events-list">
    <% if(events.length<=0){%>
            <p>there are no events available</p>
    <%}%>

    <% for(let i = 0;i<events.length;i++){%>
          <form action="/users/<%=events[i]._id%>" method="POST">
        <a href="/events/<%=events[i]._id%>"><%=events[i].name%> </a>
        <% if (user &&!user.events.filter(e => e.toString() === events[i]._id.toString()).length > 0) { %>
                    <button>Add Event</button>
        <% } %>
                    
        </form>
        
        
    <%}%>
    </div>
    <div class="eventlist-img-container">
    <% for(let i = 0;i<events.length;i++){%>
        <div class="<%=events[i].name%>" 
        style="position:<%if(i%2==0){%>absolute<%}else{%>relative<%}%>;z-index:-1">
        <img src="<%=events[i].picture%>" alt="" height="500px"></div>
        <%}%>
    </div>
</div>







  

    

<%- include('../partials/footer.ejs')%>