<%- include('../partials/header.ejs', {logged})%>

    <h1>Show Page for <%=events.name%></h1>
    <ul>
        <li>Lineup: <%=events.artists%></li>
        <li>Date: <span class="data"><%=events.date%></span></li>
        <li>Location: <%=events.venue%></li>
        <li>Pictures: <%=events.picture%></li>
    </ul>

    <div class="dropdown">
        <button class="dropbtn">Users attending(<%=attendees.length%>)</button>
        <div class="dropdown-content">
            <% for(let i=0;i<attendees.length;i++){%>
                <a href="#"><%=attendees[i].firstName%></a>

            <%}%>
        </div>
    </div>

    <h2>Countdown Timer</h2>
    <p id="countdown-timer"></p> 

    <script> 
        let time = document.querySelector(".data").innerText
        time = time.toString().split("(").shift();
        console.log(time)
        let deadline = new Date(time).getTime();
        console.log(deadline)
        let x = setInterval(function() { 
        let now = new Date().getTime(); 
        let t = deadline - now; 
        let days = Math.floor(t / (1000 * 60 * 60 * 24)); 
        let hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
        let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
        let seconds = Math.floor((t % (1000 * 60)) / 1000); 
        document.getElementById("countdown-timer").innerHTML = days + "d "  
        + hours + "h " + minutes + "m " + seconds + "s "; 
            if (t < 0) { 
                clearInterval(x); 
                document.getElementById("countdown-timer").innerHTML = "EXPIRED"; 
            } 
        }, 1000); 
        console.log(deadline);
        let dead = document.querySelector(".deadline")
        dead.innerText = deadline
    </script> 
<%- include('../partials/footer.ejs')%>