<%- include('../partials/header.ejs', {logged})%>
    <div class="event-show-container">
        <div clas="event-show-header">
            <h1><%=events.name%></h1>
        </div>
        
        <div class="event-show-header-container">
        <div class="event-show-left-header">
        <p><%=events.venue%><br /></p>
        <span class="data"><%=events.date.toDateString()%><br />
        <p id="countdown-timer"></p> 
        </div>

        <div class="event-show-right-header">
            <button>Attending(<%=attendees.length%>)</button>
            <% for(let i=0;i<attendees.length;i++){%>
                <img src="<%=attendees[i].profilePic%>" width="50px">

            <%}%>
        </div>
        </div>
        
        <div class="event-show-body-container">
        <div class="event-show-body-left">
            <img src="<%=events.picture%>" width="300px">
        </div>
        <div class="event-show-body-right">
            <p>Lineup: <%=events.artists%></p>
        </div>
        </div>

        <div class="event-show-bottom">
            <form action="/users/<%=events._id%>" method="POST">
            <% if (user &&!user.events.filter(e => e.toString() === events._id.toString()).length > 0) { %>
            <button>Add Event</button>
        <% } %>
        </form>
        </div>
    </div>

    <script> 
        let time = document.querySelector(".data").innerText
        time = time.toString().split("(").shift();

        let deadline = new Date(time).getTime();

        let x = setInterval(function() { 
        let now = new Date().getTime(); 
        let t = deadline - now; 
        let days = Math.floor(t / (1000 * 60 * 60 * 24)); 
        let hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 
        let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 
        let seconds = Math.floor((t % (1000 * 60)) / 1000); 
        document.getElementById("countdown-timer").innerHTML = days + "d "  
        + hours + "h " + minutes + "m " + seconds + "s "; 
            if (t < 0) { 
                clearInterval(x); 
                document.getElementById("countdown-timer").innerHTML = "EXPIRED"; 
            } 
        }, 1000); 
        // console.log(deadline);
        // let dead = document.querySelector(".deadline")
        // dead.innerText = deadline;
    </script> 
    </div>
<%- include('../partials/footer.ejs')%>