<%- include('../partials/header.ejs')%>

    <h1>Profile Edit Page</h1>
        <form action="/users/edit/<%=user._id%>?_method=PUT" method="POST">
            <input type="text" name="email" id="email-box" value="<%=user.email%>" onclick="this.value=''" required> <br/>
            <input type="text" name="firstName" value="<%=user.firstName%>" onclick="this.value=''" required> <br/>
            <input type="text" name="lastName" value="<%=user.lastName%>" onclick="this.value=''" required> <br/>
            <input type="text" name="profilePic" value="Profile Pic Link" onclick="this.value=''"><br/>
            <input type="password" name="password" placeholder="Password" onclick="this.value=''" required> <br/>
        <button class="register-btn" type="submit">Update Profile</button>
        </form>
    </form>

<%- include('../partials/footer.ejs')%>