<%- include('../partials/header.ejs')%>

    <h1>User Index</h1><br/>
    <h3>Hey, <%=user.firstName%>!</h3>
    <a href="../users/<%=user._id%>/edit"><button>Edit Profile</button></a><br/>


    <h2>User's Events</h2>
    <a href="../events/index"><button>Add an event</button></a><br/>
    <ul>
    <%for(let i=0;i<events.length;i++){%>
        <li>
            <a href="../events/<%=events[i]._id%>"><%=events[i].name%></a>
            <form action="/users/<%=events[i]._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <%}%>
    </ul>

<%- include('../partials/footer.ejs')%>