<%- include('../partials/header.ejs')%>
    <div class="user-index-container">
        <div class="user-profile">
            <h1>Hey, <%=user.firstName%>!</h1>
            <%if (user.profilePic == null) {%>
                <img src="https://media.telkom.co.za/today/media/photologue/photos/cache/edit_profile_FbXAS5U_picture_srcset_x400.png" width="50px">
            <% } else { %>
                <img src="<%=user.profilePic%>" width="50px">
            <% } %>
            <a href="../users/<%=user._id%>/edit"><button>Edit Profile</button></a><br/>
        </div>
    <div class="user-event">
    <h2>User's Events</h2>
    <a href="../events/index"><button>Add an event</button></a><br/>
    <ul>
    <%for(let i=0;i<events.length;i++){%>
        <li>
            <a href="../events/<%=events[i]._id%>"><%=events[i].name%></a><br />
            <img src="<%=events[i].picture%>" alt="event-photo" width="100px">
            <form action="/users/<%=events[i]._id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
    <%}%>
    </ul>
    </div>
    </div>

<%- include('../partials/footer.ejs')%>